<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kiosk PC manager</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">키오스크 관리자</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#">주문 내역</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">대기 번호 표시</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Action </a></div>
        </div>
    </nav>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">주문번호: 1013 (총 결제: 5900원)</h5>
                </div>
                <div class="card-body"><strong>아메리카노 (2700원)</strong>
                    <ul>
                        <li>본품: (2200원)</li>
                        <li>샷 추가: 1 (500원)</li>
                        <li>포장: Y (0원)</li>
                        <li>연하게 : Y (0원)</li>
                        <li>텀블러 : Y (0원)</li>
                    </ul><strong>카페라떼 (3200원)</strong>
                    <ul>
                        <li>본품: (2800원)</li>
                        <li>샷 추가: 1 (500원)</li>
                        <li>포장: Y (0원)</li>
                        <li>연하게 : Y (0원)</li>
                        <li>텀블러 : Y (0원)</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">주문번호: 1012</h5>
                </div>
                <div class="card-body"></div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">주문번호: 1012</h5>
                </div>
                <div class="card-body"></div>
            </div>
        </li>
    </ul>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>