.order-header h5 {
    display: inline-block;
    vertical-align: baseline;
}

footer {
    margin-top: 70px;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}