<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kiosk PC manager</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">키오스크 관리자</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#">주문 내역</a></li>
                    <li class="nav-item"><a class="nav-link" href="/queue">대기 번호 표시</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Action </a></div>
        </div>
    </nav>
    <ul class="list-group">
        {% for order in order_list %}
        <li class="list-group-item">
            <div class="card">
                <div class="card-header order-header">
                    <h5 class="mb-0">주문번호: {{ order.ID }} (총 결제: {{ order.TotalPrice }}원)</h5>
                    {% if order.IsConfirmed %}
                        <span class="badge badge-success">결제 완료 {{ order.IsConfirmed }}</span>
                    {% else %}
                        <span class="badge badge-warning">결제 대기중 {{ order.IsConfirmed }}</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% for menu in order.Menus %}
                    <strong>{{ menu.Name }} ({{ menu.TotalPrice }}원)</strong>
                    <span class="badge badge-danger">포장</span>
                    <span class="badge badge-info">텀블러</span>
                    <ul>
                        <li>본품: ({{ menu.Price }}원)</li>
                        {% for option in menu.Options %}
                        {% if option.Quantity > 0 %}
                            <li>{{ option.Name }}: {{ option.Quantity }} ({{ option.Price }}원)</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>