<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>정산</title>
    <style>
        table {
            width: 300px;
        }
        .td-header {
            border-bottom: 1px solid black; font-weight: bold
        }
        @media print
        {
            .no-print, .no-print *
            {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <table id="jungsanTable">
        <caption><h3>{{ switch }} 판매집계표</h3><hr>일시 : {{date}}<hr></caption>
        <thead>
        <tr>
            <th>구분</th>
            <th>건수</th>
            <th>금액</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="border-bottom: 1px solid black">단순 매출</td>
            <td style="border-bottom: 1px solid black">{{order_list|length}}</td>
            <td style="border-bottom: 1px solid black">{{totalPrice}}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid black">취소</td>
            <td style="border-bottom: 1px solid black">-{{canceledCnt}}</td>
            <td style="border-bottom: 1px solid black">-{{canceledPrice}}</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid black">텀블러할인</td>
            <td style="border-bottom: 1px solid black">-{{discountCnt}}</td>
            <td style="border-bottom: 1px solid black">-{{discountPrice}}</td>
        </tr>
        <tr style="font-weight: bold">
            <td>순매출액</td>
            <td>{{order_list|length - canceledCnt}}</td>
            <td>{{totalPrice - canceledPrice - discountPrice}}</td>
        </tr>
        </tbody>
    </table>

    <table>
        <caption><h3>메뉴별 판매현황</h3><hr>일시 : {{date}}<hr></caption>
        <thead>
        <tr>
            <th>구분</th>
            <th>수량</th>
            <th>금액</th>
            <th>%</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="td-header">전체</td>
            <td class="td-header">{{order_list|length}}</td>
            <td class="td-header">{{totalPrice - canceledPrice - discountPrice}}</td>
            <td class="td-header"></td>
        </tr>
        {% for k, v in menuTable %}
        <tr>
            <td>{{k}}</td>
            <td>{{v.0}}</td>
            <td>{{v.1}}</td>
            <td>{% widthratio v.1 totalPrice 100 %}%</td>
        {% endfor %}
<!--        <tr>-->
<!--            <td>바닐라라떼</td>-->
<!--            <td>13</td>-->
<!--            <td>129,100</td>-->
<!--            <td>16.84%</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>그린티라떼</td>-->
<!--            <td>13</td>-->
<!--            <td>129,100</td>-->
<!--            <td>16.84%</td>-->
<!--        </tr>-->
        </tbody>
    </table>
    <div style="margin-top: 10px">
        <button class="no-print" style="width: 300px; height: 50px" onclick="printJungsan()">프린트</button>
    </div>
    <div style="margin-top: 10px; width: 300px">
        <input type="text" placeholder="20201122" id="date" style="width:200px" />
        <button onclick="moveDate(document.getElementById('date').value)" style="width:87px">날짜 선택</button>
    </div>
    <div style="margin-top: 10px">
        월별 정산을 원할 경우 202103 와 같이 연도와 달을 연달아 쓰면 됩니다
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script>
        var moveDate = (value) => {
          window.location.replace("/jungsan/" + value)
        }

        var jungsan_data = {
          action: "printJungsan",
          date: "{{date}}",
          discountCnt: "{{discountCnt}}",
          discountPrice: "{{discountPrice}}",
          canceledCnt: "{{canceledCnt}}",
          canceledPrice: "{{canceledPrice}}",
          totalCnt: "{{order_list|length}}",
          totalPrice: "{{totalPrice}}",
          sunCnt: "{{order_list|length - canceledCnt}}",
          sunPrice: "{{totalPrice - canceledPrice - discountPrice}}"
        }

        var printJungsan = () => {
          jQuery.post( "/action", {action: jungsan_data.action, body:JSON.stringify(jungsan_data)}, function( data ) {
            console.log(data)
            if (data === "ok")
                alert("판매집계표 프린트를 시작했습니다.")
            else
              alert("프린트 실패")
          });
        }
    </script>
</body>
</html>
