<table class="w-100" id="waiting-num-table">
    <tr>
        <td colspan="3"><div class="w-100 text-center card-header border"><h4 style="margin:0">조리완료</h4></div></td>
    </tr>
    <tr>
        <td class="border rounded alert-light text-center" colspan="3">손님이 음식을 가져가시면 아래 주문번호 버튼을 눌러 완료하세요</td>
    </tr>
    {% for orders in confirmed_orders %}
    <tr class="card-body">
        {% for order in orders %}
        <td><button class="btn btn-primary btn-lg btn-block" onclick="updateConfirmation({{ order.ID }})">{{ order.ID }}</button></td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr style="height: 40px"></tr>
    <tr>
        <td colspan="3"><div class="w-100 text-center card-header border"><h4 style="margin:0;">결제완료</h4></div></td>
    </tr>
    <tr>
        <td class="border rounded alert-light text-center" colspan="3">음식이 준비되면 아래 주문번호 버튼을 누르세요</td>
    </tr>
    {% for orders in unconfirmed_orders %}
    <tr class="card-body">
        {% for order in orders %}
        <td><button class="btn btn-info btn-lg btn-block" onclick="updateConfirmation({{ order.ID }})">{{ order.ID }}</button></td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr style="height: 40px"></tr>
    <tr>
        <td colspan="3"><div class="w-100 text-center card-header border"><button class="btn btn-primary" onclick="insertBogus()">수동 대기번호 입력</button></div></td>
    </tr>
    <tr>
        <td class="border rounded alert-light text-center" colspan="3">수동으로 번호를 입력합니다. 번호는 현재 마지막번호 +1 입니다.</td>
    </tr>
</table>